<!DOCTYPE>
<html lang="en">
    <body>
        <div id="app">
            <input id="newItemInput" v-model="newItemText">
            <button id="addButton" @click="addItem">Add Item</button>
            <p>TODO <span v-if="todos.length > 0">({{numItems}} items)</span></p>
            <button @click="changeClass">Change Class</button>
            <ul>
                <li v-if="todos.length === 0">No items added yet!</li>
                <todo-item v-for="(todo, index) in todos"
                    :todo="todo"
                    :key="index"
                    :class="classes">
                </todo-item>
            </ul>
            
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="index.js"></script>
    <script src="todoComponent.js"></script>
</html>